[Unit]
Description=Airplay Daemon

[Service]
#StandardInput=null
StandardOutput=null
#StandardError=null

ExecStartPre=cp /usr/local/bin/squeezelite /dev/shm/
ExecStart=/dev/shm/squeezelite -o pcm.hw -O default -V Master -C 1 -a 41:10::1 -b 2660:3838 -z
ExecStartPost=/usr/local/bin/sqzlite_tune

[Install]
WantedBy=multi-user.target
